*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 2em;
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
    background-color: #edfbff;
}
ul{
    display: flex;
    align-items: center;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

li{
    list-style-type: none;
    padding: 10px;
    font-size: 35px;
}

a{
    text-decoration: none;
    color: black;
    justify-self: end;
}

header{
    display: flex;
    align-content: flex-end;
    background-color: #ababab;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
}

.container{
    display: flex;
    flex-flow: column;
    flex: 6;
}

.container > h1{
    align-self: center;
    margin-top: 100px;
    font-size: 50px;
}
div.imagens{
    display: flex;
    justify-content: center;
    padding: 30px;
    justify-content: space-around;
}
.imagens img{
    min-width: 300px;
    max-width: 300px;
    border-radius: 20px;
    box-shadow: 8px 8px 8px black;
}

.imagens p{
    justify-self: center;
}